
 
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 2px solid rgb(20, 26, 26);
    color: rgb(58, 29, 112);
    cursor: pointer;
}
.paginationBttns a:hover{
    color:white;
    background-color: violet;

}
.paginationActive a{
    color:white;
    background-color: violet;

}